.card {
    padding: 16px;
    box-shadow: 3px 3px 11px 3px rgb(0 0 0 / 32%);
    width: 500px;
    background-color:white;
    border-radius: 12px;
    margin: 12px;
    display: inline-block;
    cursor: pointer;
}

.card:hover {
    background-color:lightgrey;

}